# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

# Virtual environments
venv/
env/
.fdm/
fdm/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Data files


# Environment/config files
*.env
*.cfg

# Build / distribution
build/
dist/
*.egg-info/

data/listings.csv
data/listings_discretized.csv
data/listings_discretized_enhanced.csv
data/listings_reduced.csv
data/listings_transformed.csv
data/processed/association_rules.csv
